<link rel="stylesheet" href="stylesheet.css">
<div class="main user-planning">
  <div class="container">
    <div class="planning">
      <h3 class="section-title">大会申請</h3>
        <p>大会名</p>
        <input>
        
        <p>大会説明欄</p>
        
        <textarea></textarea>
        
        <p>※必須項目は必ずご入力ください</p>
        
        <input  class="contact-submit" type="submit"  />
        
      </div>
    </div>
    </div>
  </div>
</div>