<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>e-fund</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <img class="logo" src="http://yoshi.chu.jp/udon/wp-content/uploads/2017/07/2017y07m03d_165245916.jpg">
        </div>
        <div class="header-right">
          <a href="#" class="login">ログイン</a>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>熱狂を、作り上げろ</h1>
       
        <p>〇〇</p>
       
        <div class="btn-wrapper">
          <a href="#" class="btn signup">Twitterで登録</a>
          <p>または</p>
          <a href="#" class="btn facebook">大会を作る</a>
          <a href="#" class="btn twitter">支援する</a>
        </div>
      </div>
    </div>
    <div class="sumple-wrapper">
    <h2>コンテンツ</h2>
    </div>
   
    <footer>

		<div class="footer-list">
        <ul>
          <li><a href="/about">e-fundとは</a></li>
          <li>&nbsp;|&nbsp;<a href="/about">特定商取引法に基づく表記</a></li>
          <li>&nbsp;|&nbsp;<a href="/about">会員規約</a></li>
          <li>&nbsp;|&nbsp;<a href="/about">支援者向け利用規約</a></li>
          <li>&nbsp;|&nbsp;<a href="/about">起案者向け利用規約</a></li>
          <li>&nbsp;|&nbsp;<a href="/about">お問い合わせ</a></li>
        </ul>
      </div>
      
    </footer>
  </body>
</html>