<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-fund</title>
    <link rel="responsive" href="responsive.css">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <img class="logo" src="http://yoshi.chu.jp/udon/wp-content/uploads/2017/07/2017y07m03d_165245916.jpg">
        </div>
        
          <% if @current_user %>
          <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          <div class="header-right">
         <%= link_to("ログアウト", "/logout", {method: :post}) %>
         </div>
         <% else %>
        <div class="header-right">
           <%= link_to("ログイン","/login")%>
        </div>
        <div class="header-right">
           
           <%= link_to("新規登録","/signup")%>
        </div>
        <% end %>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>今すぐ大会資金を集めよう!</h1>
       
        <p>申請から〇日で掲載、確定後〇日以内に振り込み</p>
       
        <div class="btn-wrapper">
          <a href="#" class="btn create">大会を作る</a>
          
        </div>
      </div>
    </div>
    <div class="sumple-wrapper">
       <div style="text-align:center">
        
       </div>
       <br /><br /><br />
       <div class="content">
          <h1>注目の大会</h1>
          <br>
          <br>
          <h2>PC</h2>
          <br>
        <div class="PC">

      <h2>PS4</h2>
    </div>
</body>
<footer>
  <div class="footer-list">
    <ul>
      <li><a href="/about">e-fundとは</a></li>
      <li>&nbsp;|&nbsp;<a href="/about">特定商取引法に基づく表記</a></li>
      <li>&nbsp;|&nbsp;<a href="/about">会員規約</a></li>
      <li>&nbsp;|&nbsp;<a href="/about">支援者向け利用規約</a></li>
      <li>&nbsp;|&nbsp;<a href="/about">起案者向け利用規約</a></li>
      <li>&nbsp;|&nbsp;<a href="/about">お問い合わせ</a></li>
    </ul>
  </div>
</footer>
  
</html>